*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: blue;
}
#part1{
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color:#1B127A ; */
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(11, 6, 116) 0%, rgba(9,9,121,1) 35%, rgb(5, 118, 141) 100%);

}
#nav{
    height: 10%;
    width: 100%;
    color: beige;
    
}
#nav ul{
    display: flex;
    justify-content: space-between;
}
#nav li{
    margin-left: 50px;
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    font-size: 30px;

}
#nav button{
    margin-right: 50px;
    margin-top: 20px;
    padding: 10px;
}
#part1 img{
    position: absolute;
    right: 20px;
    height: 550px;
    width: 600px;
}
#para{
    position: absolute;
    top: 50%;
    margin-left: 5%;
    color: aliceblue;
    
}
#para h1{
    font-size: 50px;
}
#part2{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
#part3{
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;

}
